body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#score {
  position: fixed;
  z-index: 10;
  color: white;
  left: 10px;
  top: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 4px #000;
}

#gameOverText {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  color: #ff0000;
  text-shadow: 2px 2px 4px #000;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}